.5_35 { 
	overflow:hidden;
}
.e5_35 { 
	width:100%;
	height:4976px;
	position:absolute;
}
.2_47 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_47 { 
	background-color:rgba(249.6875050663948, 249.6875050663948, 249.6875050663948, 1);
	width:100%;
	height:4976px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5_29 { 
	color:rgba(0, 0, 0, 1);
	width:549px;
	height:72px;
	position:absolute;
	left:791px;
	top:3772px;
	font-family:Inter;
	font-weight: bold;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e5_30 { 
	color:rgba(0, 0, 0, 1);
	width:581px;
	height:170px;
	position:absolute;
	left:791px;
	top:3918px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e5_8 { 
	color:rgba(0, 0, 0, 1);
	width:549px;
	height:72px;
	position:absolute;
	left:55px;
	top:1627px;
	font-family:Inter;
	font-weight:bold;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e5_15 { 
	color:rgba(0, 0, 0, 1);
	width:549px;
	height:72px;
	position:absolute;
	left:785px;
	top:2399px;
	font-family:Inter;
	font-weight:bold;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e5_9 { 
	color:rgba(0, 0, 0, 1);
	width:581px;
	height:468px;
	position:absolute;
	left:48px;
	top:1701px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e5_17 { 
	color:rgba(0, 0, 0, 1);
	width:80%;
	height:168px;
	position:absolute;
	left:0px;
	top:1116px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	margin-left: 10%;
	margin-right: 10%;
	letter-spacing:0;
}
.e5_16 { 
	color:rgba(0, 0, 0, 1);
	width:581px;
	height:204px;
	position:absolute;
	left:785px;
	top:2545px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e2_58 { 
	width:60%;
	height:730px;
	position:absolute;
  	margin-left: 20%;
  	margin-right: 20%;
	top:296px;
	background-image:url(images/screenshot_2022_11_28_at_23_37_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_53 { 
	width:384.1000061035156px;
	height:59.79999923706055px;
	position:absolute;
	left:43px;
	top:43px;
}
.e2_46 { 
	width:49.68000030517578px;
	height:49.68000030517578px;
	position:absolute;
	left:0px;
	top:5.060001850128174px;
	background-image:url(images/plugdata_logo_mac_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_52 { 
	width:242.87998962402344px;
	height:22.080001831054688px;
	position:absolute;
	left:76.59000396728516px;
	top:18.860002517700195px;
}
.e2_49 { 
	color:rgba(0, 0, 0, 1);
	width:54.51000213623047px;
	height:22.080001831054688px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_51 { 
	color:rgba(0, 0, 0, 1);
	width:54.51000213623047px;
	height:22.080001831054688px;
	position:absolute;
	left:84.40999603271484px;
	top:0.000001144409225162235px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_50 { 
	color:rgba(0, 0, 0, 1);
	width:78.66000366210938px;
	height:22.080001831054688px;
	position:absolute;
	left:168.8199920654297px;
	top:0.000001144409225162235px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e3_2 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:81px;
	position:absolute;
	left:0px;
	top:93px;
	font-family:Inter;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e5_3 { 
	color:rgba(0, 0, 0, 1);
	width:100%;
	height:82px;
	position:absolute;
	left:0px;
	top:194px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e5_14 { 
	box-shadow:0px 4px 8px rgba(0, 0, 0, 0.25);
	width:627px;
	height:401px;
	position:absolute;
	left:55px;
	top:2399px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	border-bottom-right-radius:9px;
	background-image:url(images/screenshot_2022_11_29_at_00_03_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_18 { 
	background-color:rgba(52.000000700354576, 120.00000044703484, 246.0000005364418, 1);
	width:20%;
	height:88px;
	position:absolute;
  	margin-left: 40%;
  	margin-right: 40%;
	top:1325px;
	border-radius:9px;
}
.e5_21 { 
	color:rgba(255, 255, 255, 1);
	width:100%;
	height:37px;
	position:absolute;
	left:0px;
	top:1350px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e5_23 { 
	width:1054px;
	height:730px;
	position:absolute;
	left:684px;
	top:1551px;
	background-image:url(images/screenshot_2022_11_29_at_00_14_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_24 { 
	background-color:rgba(35.00000171363354, 35.00000171363354, 35.00000171363354, 1);
	width:100%;
	height:809px;
	position:absolute;
	left:3px;
	top:2894px;
}
.e5_26 { 
	color:rgba(255, 255, 255, 1);
	width:612px;
	height:73px;
	position:absolute;
	left:67px;
	top:3043px;
	font-family:Inter;
	font-weight: bold;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e5_27 { 
	color:rgba(255, 255, 255, 1);
	width:581px;
	height:136px;
	position:absolute;
	left:72px;
	top:3133px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e5_28 { 
	width:1054px;
	height:730px;
	position:absolute;
	left:703px;
	top:2944px;
	background-image:url(images/screenshot_2022_11_29_at_00_22_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_34 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:694px;
	height:508px;
	position:absolute;
	left:38px;
	top:3768px;
	background-image:url(images/screenshot_2022_11_29_at_00_28_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
